# Minimum Wage Extractor: Version 1.0

The salary–performance optimizer requires a lower bound to ensure that salary recommendations never fall below a realistic, legally compliant minimum.

The [**OECD**](https://data-explorer.oecd.org) publishes comparable, official minimum wage statistics across countries, making it a reliable external source. The data is reported in USD.

Using this data, employees can verify that employers are not exploiting them by offering pay below a realistic, legal minimum.

In [1]:
import requests
import pandas as pd
from io import StringIO

In [2]:
# define API query URL (CSV with labels format)
url = "https://sdmx.oecd.org/public/rest/data/OECD.ELS.SAE,DSD_EARNINGS@MW_CURP,1.0/..USD.A...?startPeriod=2010&dimensionAtObservation=AllDimensions&format=csvfilewithlabels"

# fetch data
response = requests.get(url)

In [3]:
# load into DataFrame
df = pd.read_csv(StringIO(response.text))
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,MEASURE,Measure,UNIT_MEASURE,Unit of measure,...,OBS_VALUE,Observation value,BASE_PER,Base period,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals
0,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@MW_CURP(1.0),Minimum wages at current prices in national cu...,I,USA,United States,SM_WG,Statutory minimum wages,USD,US dollar,...,15080,NaN,NaN,NaN,A,Normal value,0,Units,1,One
1,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@MW_CURP(1.0),Minimum wages at current prices in national cu...,I,USA,United States,SM_WG,Statutory minimum wages,USD,US dollar,...,15080,NaN,NaN,NaN,A,Normal value,0,Units,1,One
2,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@MW_CURP(1.0),Minimum wages at current prices in national cu...,I,USA,United States,SM_WG,Statutory minimum wages,USD,US dollar,...,15080,NaN,NaN,NaN,A,Normal value,0,Units,1,One
3,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@MW_CURP(1.0),Minimum wages at current prices in national cu...,I,USA,United States,SM_WG,Statutory minimum wages,USD,US dollar,...,15080,NaN,NaN,NaN,A,Normal value,0,Units,1,One
4,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@MW_CURP(1.0),Minimum wages at current prices in national cu...,I,USA,United States,SM_WG,Statutory minimum wages,USD,US dollar,...,15080,NaN,NaN,NaN,A,Normal value,0,Units,1,One

In [4]:
df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'MEASURE', 'Measure', 'UNIT_MEASURE',
       'Unit of measure', 'PAY_PERIOD', 'Pay period', 'PRICE_BASE',
       'Price base', 'AGGREGATION_OPERATION', 'Aggregation operation', 'SEX',
       'Sex', 'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value',
       'BASE_PER', 'Base period', 'OBS_STATUS', 'Observation status',
       'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals'],
      dtype='object')

In [5]:
cols_to_drop = ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 
                'Reference area', 'MEASURE',
                'Unit of measure', 'PAY_PERIOD', 'PRICE_BASE',
                'AGGREGATION_OPERATION', 'Aggregation operation', 'SEX',
                'Sex', 'Time period', 'Observation value',
                'BASE_PER', 'Base period', 'OBS_STATUS', 'Observation status',
                'UNIT_MULT', 'Unit multiplier', 'DECIMALS', 'Decimals']

In [6]:
df.drop(cols_to_drop, axis=1, inplace=True)

In [7]:
df = df.set_index('TIME_PERIOD')

In [8]:
df

,REF_AREA,Measure,UNIT_MEASURE,Pay period,Price base,OBS_VALUE
TIME_PERIOD,,,,,,
2010,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2011,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2012,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2013,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2014,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2015,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2016,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2017,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2018,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2019,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2020,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2021,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2022,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2023,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2024,USA,Statutory minimum wages,USD,Annual,Current prices,15080
2025,USA,Statutory minimum wages,USD,Annual,Current prices,15080

## References

- [Data Source](https://data-explorer.oecd.org/vis?fs[0]=Topic%2C1%7CEmployment%23JOB%23%7CBenefits%252C%20earnings%20and%20wages%23JOB_BW%23&fs[1]=Unit%20of%20measure%2C0%7CUS%20dollar%23USD%23&fs[2]=Measure%2C0%7CStatutory%20minimum%20wages%23SM_WG%23&pg=0&fc=Measure&snb=1&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_EARNINGS%40MW_CURP&df[ag]=OECD.ELS.SAE&df[vs]=1.0&dq=..USD.A...&pd=2010%2C&to[TIME_PERIOD]=false)
- [Data Table](https://data-viewer.oecd.org/?chartId=c573c240-271d-434b-a7ef-03407b40e56b)
- [API Guide](https://www.oecd.org/en/data/insights/data-explainers/2024/09/api.html)
- [More Info](http://www.oecd.org/employment/emp/Minimum-wages.pdf)

This notebook is done by `La Wun Nannda`.